# Virtual environment
venv/
/venv/

# Database file
meet_summarizer.db

# Any other specific logs, caches, or compiled files:
# Python cache
__pycache__/
*.pyc
*.pyo

.env

old/

*.db

notes.txt

meet_summarizer_oauth.txt